.box{
    background-color: blue;
    padding: 10px;
}
.text-1{
    color: yellow;
    margin: 0;
    padding: 0;
}
.text-2{
    color: white;
}
.inner-box{
    background-color: red;
}
#main-box{
    border: 10px solid purple;
}